body {
  height: auto;
  width: auto;
  background-color: black;
}

/*===== banner =====*/
#banner {
  position: relative;
  width: 1000px;
  height: 250px;
  background-image: url(Gallery/graffiti.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 10px;
}

#page_title {
  top: 10px;
  left: 20px;
  width: 300px;
  height: 50px;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  color: white;
}

/*====== Menu =======*/
.topnav {
  overflow: hidden;
  background-color: #080808;
  width:500px;
}

.topnav > a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  /*color: #7FFF00;*/
  text-shadow: -1px 0 #00FFFF, 0 1px #00FFFF, 1px 0 #00FFFF, 0 -1px #00FFFF;
}

.topnav a.active {
    background-color: #4CAF50;
    color: black;
}

/*====== Gallery =====*/
.gallery_container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.gallery_image {
  height: 500px;
  width: 500px;
  margin: 5px;
  border-style: solid;
  border-color: #eee;
  box-shadow: 5px 5px 5px #888888;
}

#awake {
  background-image: url(Gallery/awake.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#chance3 {
  background-image: url(Gallery/chance3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#cudi {
  background-image: url(Gallery/cudi.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#epoch {
  background-image: url(Gallery/epoch.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#heist {
  background-image: url(Gallery/heist.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#kanye {
  background-image: url(Gallery/kanye.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#lasers {
  background-image: url(Gallery/lasers.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#odesza {
  background-image: url(Gallery/odesza.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#ram {
  background-image: url(Gallery/ram.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#rhcp {
  background-image: url(Gallery/rhcp.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#xx {
  background-image: url(Gallery/xx.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#footer {
  font-family: Times;
  font-size: 15px;
  width:auto;
  height: 15px;
  text-align: center;
  color: white;
}

/* Portrait tablet to landscape and desktop */
@media all and (min-width: 768px) and (max-width: 979px) {
  .gallery_image {
    height: 300px;
    width: 300px;
    margin: 5px;
    border-style: solid;
    border-color: #eee;
    box-shadow: 5px 5px 5px #888888;
  }
}

/* Landscape phones to portrait phones*/
@media all and (min-width: 320px) and (max-width: 479px) {
  .gallery_image {
    height: 150px;
    width: 150px;
    margin: 5px;
    border-style: solid;
    border-color: #eee;
    box-shadow: 5px 5px 5px #888888;
  }
}
