/* ==== General ==== */
body {
  background-color: black;
}

#portrait {
  background-image: url(Gallery/me.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*===== Footer =====*/
#footer {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  width:auto;
  height: 15px;
  text-align: center;
  color: white;
}

/*===== Top Menu =====*/
.topnav {
  overflow: hidden;
  background-color: #080808;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  text-shadow: -1px 0 #00FFFF, 0 1px #00FFFF, 1px 0 #00FFFF, 0 -1px #00FFFF;
}

.topnav a.active {
    background-color: #4CAF50;
    color: black;
}

/* ===== About Me ===== */
.aboutme {
  width: 50%;
  height: 100%;
}

#name {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  width: auto;
  height: 50px;
  text-align: center;
  color:white;
}

#title {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  width: auto;
  height: 75px;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}

#slogan {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  width: auto;
  height: 50px;
  text-align: center;
  color: white;
}

#discover {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;

}
#text {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height:60%;
  text-align: center;
  color: white;
}

/*======= Photography Page ========*/

/*===== banner =====*/
#banner {
  position: relative;
  width: 1000px;
  height: 250px;
  background-image: url(Gallery/graffiti.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 10px;
}

#page_title {
  top: 10px;
  left: 20px;
  width: 300px;
  height: 50px;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  color: white;
}

/*====== ====== Gallery ======= =====*/
.gallery_container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
}

.gallery_image {
  height: 500px;
  width: 500px;
  margin: 5px;
  border-style: solid;
  border-color: #eee;
  box-shadow: 5px 5px 5px #888888;
}

#awake {
  background-image: url(Gallery/awake.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#chance3 {
  background-image: url(Gallery/chance3.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#cudi {
  background-image: url(Gallery/cudi.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#epoch {
  background-image: url(Gallery/epoch.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#heist {
  background-image: url(Gallery/heist.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#kanye {
  background-image: url(Gallery/kanye.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#lasers {
  background-image: url(Gallery/lasers.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#odesza {
  background-image: url(Gallery/odesza.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#ram {
  background-image: url(Gallery/ram.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#rhcp {
  background-image: url(Gallery/rhcp.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#xx {
  background-image: url(Gallery/xx.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

/* Portrait tablet to landscape and desktop */
@media all and (min-width: 768px) and (max-width: 979px) {
  .gallery_image {
    height: 300px;
    width: 300px;
    margin: 5px;
    border-style: solid;
    border-color: #eee;
    box-shadow: 5px 5px 5px #888888;
  }
}

/* Landscape phones to portrait phones*/
@media all and (min-width: 320px) and (max-width: 479px) {
  .gallery_image {
    height: 150px;
    width: 150px;
    margin: 5px;
    border-style: solid;
    border-color: #eee;
    box-shadow: 5px 5px 5px #888888;
  }
}

/*=========== ====== Blog Page ====== ==========*/

/*===== Blog Content ===== */
.blog_container {
  height: 720px;
  width: 500px;
  margin: 20px;
}

#blog_title,#blog_preview,#read,#date {
  color: white;
  margin: 10px;
}

#blog_title {
  text-align: center;
}

#read > a {
  text-decoration: none;
  color: white;
}

/* ===== Post 1 ===== */
#blog_image {
  width: 320px;
  height: 320px;
  background-image: url(Gallery/nycda.jpg);
  border-radius: 10px;
  margin: auto;
}

#nycda_logo {
  display: block;
  height: 320px;
  width: 320px;
  margin: auto;
}

#blog_des {
  font-family: 'Raleway', sans-serif;
}

/*===== Post 2 ===== */
#blog_image_2 {
  width: 400px;
  height: 200px;
  background-image: url(Gallery/tnews.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: auto;
}
