/* ==== General ==== */

body {
  background-image: url(Gallery/me.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*===== Top Menu =====*/
.topnav {
  overflow: hidden;
  background-color: #080808;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: black;
}

/*===== Header =====*/
.header {
  width: 100%;
  height: 500px;
}

#name {
  font-family: Verdana;
  font-size: 25px;
  width: auto;
  height: 150px;
  text-align: center;
  color:white;
}

#title {
  font-family: Verdana;
  font-size: 25px;
  width: auto;
  height: 75px;
  text-align: center;
  color: white;
}

#slogan {
  font-family: Verdana;
  font-size: 25px;
  width: auto;
  height: 50px;
  text-align: center;
  color: white;
}

/*===== About Me =====*/
#discover {
  font-family: cursive;
  color: white;
  text-align: center;

}
#text {
  font-family: sans-serif;
  width: 100%;
  height:60%;
  text-align: center;
  color: white;
}

/*===== Footer =====*/
#footer {
  font-family: Times;
  font-size: 15px;
  width:auto;
  height: 15px;
  text-align: center;
  color: white;
}
