/* ===== General ===== */

body {
  background-color: black;
  width: auto;
  height: auto;
}

/*===== Title Banner =====*/

.title_container {
  width: 1000px;
  height: 150px;
}
#title_box {
  color: white;
  text-align: center;
}

/*===== Menu =====*/
.topnav {
  overflow: hidden;
  background-color: #080808;
  width:500px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: black;
}

/*===== Blog Content ===== */
.blog_container {
  height: 720px;
  width: 500px;
  margin: 20px;
}

#blog_title,#blog_preview,#read,#date {
  color: white;
  margin: 10px;
}

#blog_title {
  text-align: center;
}

#read > a {
  text-decoration: none;
  color: white;
}

/* ===== Post 1 ===== */
#blog_image {
  width: 320px;
  height: 320px;
  background-image: url(Gallery/nycda.jpg);
  border-radius: 10px;
  margin: 10px;
}

/*===== Post 2 ===== */
#blog_image_2 {
  width: 400px;
  height: 200px;
  background-image: url(Gallery/tnews.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 10px;
}

/*===== Footer =====*/
#footer {
  font-family: Times;
  font-size: 15px;
  width:auto;
  height: 15px;
  text-align: center;
  color: white;
}
